In [17]:
import pandas as pd

In [18]:
data = pd.read_csv('/Users/Parzon/Downloads/SUPPORT2_ML/Support2_ML/Untitled/support2.csv')

In [19]:
data.head()

,age,death,sex,hospdead,slos,d.time,dzgroup,dzclass,num.co,edu,...,crea,sod,ph,glucose,bun,urine,adlp,adls,sfdm2,adlsc
1,62.84998,0,male,0,5,2029,Lung Cancer,Cancer,0,11.0,...,1.199951,141.0,7.459961,NaN,NaN,NaN,7.0,7.0,NaN,7.0
2,60.33899,1,female,1,4,4,Cirrhosis,COPD/CHF/Cirrhosis,2,12.0,...,5.500000,132.0,7.250000,NaN,NaN,NaN,NaN,1.0,<2 mo. follow-up,1.0
3,52.74698,1,female,0,17,47,Cirrhosis,COPD/CHF/Cirrhosis,2,12.0,...,2.000000,134.0,7.459961,NaN,NaN,NaN,1.0,0.0,<2 mo. follow-up,0.0
4,42.38498,1,female,0,3,133,Lung Cancer,Cancer,2,11.0,...,0.799927,139.0,NaN,NaN,NaN,NaN,0.0,0.0,no(M2 and SIP pres),0.0
5,79.88495,0,female,0,16,2029,ARF/MOSF w/Sepsis,ARF/MOSF,1,NaN,...,0.799927,143.0,7.509766,NaN,NaN,NaN,NaN,2.0,no(M2 and SIP pres),2.0

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9105 entries, 1 to 9105
Data columns (total 47 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       9105 non-null   float64
 1   death     9105 non-null   int64
 2   sex       9105 non-null   object
 3   hospdead  9105 non-null   int64
 4   slos      9105 non-null   int64
 5   d.time    9105 non-null   int64
 6   dzgroup   9105 non-null   object
 7   dzclass   9105 non-null   object
 8   num.co    9105 non-null   int64
 9   edu       7471 non-null   float64
 10  income    6123 non-null   object
 11  scoma     9104 non-null   float64
 12  charges   8933 non-null   float64
 13  totcst    8217 non-null   float64
 14  totmcst   5630 non-null   float64
 15  avtisst   9023 non-null   float64
 16  race      9063 non-null   object
 17  sps       9104 non-null   float64
 18  aps       9104 non-null   float64
 19  surv2m    9104 non-null   float64
 20  surv6m    9104 non-null   float64
 21  hday      9105 non-null   int64
 22  diabetes  9105 non-null   int64
 23  dementia  9105 non-null   int64
 24  ca        9105 non-null   object
 25  prg2m     7456 non-null   float64
 26  prg6m     7472 non-null   float64
 27  dnr       9075 non-null   object
 28  dnrday    9075 non-null   float64
 29  meanbp    9104 non-null   float64
 30  wblc      8893 non-null   float64
 31  hrt       9104 non-null   float64
 32  resp      9104 non-null   float64
 33  temp      9104 non-null   float64
 34  pafi      6780 non-null   float64
 35  alb       5733 non-null   float64
 36  bili      6504 non-null   float64
 37  crea      9038 non-null   float64
 38  sod       9104 non-null   float64
 39  ph        6821 non-null   float64
 40  glucose   4605 non-null   float64
 41  bun       4753 non-null   float64
 42  urine     4243 non-null   float64
 43  adlp      3464 non-null   float64
 44  adls      6238 non-null   float64
 45  sfdm2     7705 non-null   object
 46  adlsc     9105 non-null   float64
dtypes: float64(31), int64(8), object(8)
memory usage: 3.3+ MB

In [21]:
data.describe()

,age,death,hospdead,slos,d.time,num.co,edu,scoma,charges,totcst,...,bili,crea,sod,ph,glucose,bun,urine,adlp,adls,adlsc
count,9105.000000,9105.000000,9105.000000,9105.000000,9105.000000,9105.000000,7471.000000,9104.000000,8.933000e+03,8217.000000,...,6504.000000,9038.000000,9104.000000,6821.000000,4605.000000,4753.000000,4243.000000,3464.000000,6238.000000,9105.000000
mean,62.650823,0.681054,0.259198,17.863042,478.449863,1.868644,11.747691,12.058546,5.999579e+04,30825.867768,...,2.554463,1.770961,137.568541,7.415364,159.873398,32.349463,2191.546047,1.157910,1.637384,1.888272
std,15.593710,0.466094,0.438219,22.006440,560.383272,1.344409,3.447743,24.636694,1.026488e+05,45780.820986,...,5.318448,1.686041,6.029326,0.080563,88.391541,26.792288,1455.245777,1.739672,2.231358,2.003763
min,18.041990,0.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,1.169000e+03,0.000000,...,0.099991,0.099991,110.000000,6.829102,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,52.797000,0.000000,0.000000,6.000000,26.000000,1.000000,10.000000,0.000000,9.740000e+03,5929.566400,...,0.500000,0.899902,134.000000,7.379883,103.000000,14.000000,1165.500000,0.000000,0.000000,0.000000
50%,64.856990,1.000000,0.000000,11.000000,233.000000,2.000000,12.000000,0.000000,2.502400e+04,14452.734400,...,0.899902,1.199951,137.000000,7.419922,135.000000,23.000000,1968.000000,0.000000,1.000000,1.000000
75%,73.998960,1.000000,1.000000,20.000000,761.000000,3.000000,14.000000,9.000000,6.459800e+04,36087.937500,...,1.899902,1.899902,141.000000,7.469727,188.000000,42.000000,3000.000000,2.000000,3.000000,3.000000
max,101.847960,1.000000,1.000000,343.000000,2029.000000,9.000000,31.000000,100.000000,1.435423e+06,633212.000000,...,63.000000,21.500000,181.000000,7.769531,1092.000000,300.000000,9000.000000,7.000000,7.000000,7.073242

In [ ]:
hi